<!DOCTYPE html>
<html  lang="en">
<head>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Acceuil- FAADEC">
        <title>Acceuil - FAADEC</title>

</head>

<section class="showcase">

    <div class="acceuil-hero ">
        <div class="acceuil-hero-content">
            <h1 class="acceuil-hero-title">Bienvenue dans notre plateforme </h1>
            <p class="acceuil-hero-description hide-for-small-only"> Analyse économique et financière des activités du marché français  dans les domaines de l’ingénierie et de l’industries</p>
            <div class="acceuil-hero-ctas">
                <a href="#" class="acceuil-section-cta button primary" data-open="loginModel">Se connecter</a>
                <!--<a ng-href="features" class="acceuil-section-cta button white-hollow">Plus d'info</a>-->
            </div>
        </div>
    </div>


</section>
<section id="features">
    <div class="faadec-features" >
        <div class="row">
            <div class="medium-6 small-12 columns">
                <div class="row">
                    <div class="small-3 medium-2 columns">
                        <figure>
                            <img src="img/033.png" height="90" width="110" alt="">
                        </figure>
                    </div>
                    <div class="small-9 medium-10 columns">
                        <h4>Rechercher une entreprise</h4>
                        <p>Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
                    </div>
                </div>
            </div>
            <div class="medium-6  small-12 columns">
                <div class="row">
                    <div class="small-3 medium-2 columns">
                        <figure>
                            <img src="img/009.png" height="90" width="110" alt="">
                        </figure>
                    </div>
                    <div class="small-9 medium-10 columns">
                        <h4>Articles de presse</h4>
                        <p> Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-6   small-12 columns">
                <div class="row">
                    <div class=" small-3 medium-2 columns">
                        <figure>
                            <img src="img/071.png" height="90" width="110" alt="">
                        </figure>
                    </div>
                    <div class="small-9 medium-10 columns">
                        <h4>Discussion</h4>
                        <p>Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
                    </div>
                </div>
            </div>
            <div class="medium-6   small-12 columns">
                <div class="row">
                    <div class="small-3 medium-2 columns">
                        <figure>
                            <img src="img/036.png" height="90" width="110" alt="">
                        </figure>
                    </div>
                    <div class="small-9 medium-10 columns">
                        <h4>Generer des rapports</h4>
                        <p>Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</html>