<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon compte</title>
</head>

<section class="showcase_account">
    <header>
        <h1 class="recherche-title">Compte Personnel</h1>
    </header>
</section>

<div class="row main-links">
    <div class="small-12 medium-4 columns">
        <div class="title-box">
            <h4 class="title-box-title">Mes Analyses</h4>
        </div>
        <img src="img/01.jpg">
    </div>
    <div class="small-12 medium-4 columns">
        <div class="title-box">
            <h4 class="title-box-title">Reserver une analyse</h4>
        </div>
        <img src="img/05.jpg">
    </div>
    <div class="small-12 medium-4 columns">
        <div class="title-box">
            <h4 class="title-box-title">Mon calendrier</h4>
        </div>
        <img src="img/06.jpg">
    </div>
</div>


</html>