<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog - FAADEC</title>
</head>

<section class="showcase_blog">
    <header>
        <h1 class="recherche-title">Echanges / Debats</h1>
    </header>
</section>

<div class="row">
    <div class="large-12 medium-12 columns">
        <button class="button alert button expanded "style="background-color:#1abc9c;font-size: 20px" href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
            Creer un sujet</button>

                <h5>Liste des sujets:</h5>
                <table>
                    <thead>
                    <tr>
                        <th width="300">Sujet</th>
                        <th width="60">Date de creation</th>
                        <th width="250"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sujet 1</td>
                        <td>12/08/2017</td>
                        <td><a class="button secondary" style="background-color: #1abc9c" ui-sref="sujet_blog">Consulter</a></td>
                    </tr>
                    <tr>
                        <td>Sujet 2</td>
                        <td>10/08/2017</td>
                        <td> <a class="button secondary" style="background-color: #1abc9c" ui-sref="sujet_blog">Consulter</a></td>
                    </tr>
                    </tbody>
                </table>



    </div>

</div>


</html>