<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publication INSEE</title>
</head>

<section class="showcase_insee">
    <header>
        <h1 class="recherche-title">Rechercher une publication</h1>
    </header>
</section>
<section >
    <div class="row">
        <div class="large-12 medium-12 columns">
            <label  ><h5 style="font-family: 'Yrsa', serif;">Choisir un secteur</h5>
                    <select style="font-family: 'Yrsa', serif;">
                        <option value="">Industrie</option>
                        <option value="">Automobile</option>
                        <option value="">Ingenierie</option>
                        <option value="">Aeronotique</option>
                    </select>
                </label>
                <a class="button primary" href="#">Chercher</a>
        </div>
    </div>
</section>
<div class="row">
    <div class="large-12 medium-12 columns">
        <h5>Resultat:</h5>
        <table>
    <thead>
    <tr>
        <th width="50">Selectionner</th>
        <th width="250">Theme de la publication</th>
        <th width="250">Date de publication</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="checkbox"></label></td>
        <td>Indices de la production industrielle</td>
        <td>06/2017</td>

    </tr>
    <tr>
        <td><input type="checkbox"></label></td>
        <td>Caractéristiques de l'industrie automobile par activité en 2015</td>
        <td>05/2017</td>
    </tr>
    </tbody>
</table>
        <a class="button " href="#" style="float: right;background-color: #1abc9c">Telecharger</a>

    </div>

</div>
</html>