<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog- Sujet - FAADEC</title>
</head>
<div class="row">
    <div class="medium-6 large-9 columns">
        <br>
        <h5 style="text-align: center;font-weight: bolder">Titre du sujet</h5>
        <div class="status-update-input-box">
        <form>
            <div class="row input-box-container">
                <div class="columns">
                    <label> <!-- Add a Label here to give this input box a heading -->
                        <textarea rows="5" placeholder="Ajouter votre commentaire....."></textarea>
                    </label>
                </div>
            </div>
            <div class="row medium-collapse user-action-container">
                <div class="small-12 medium-7 columns">
                    <div class="user-action-box">
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Upload a Photo">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <span class="show-for-sr">Upload a Photo</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Upload a Video">
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                                <span class="show-for-sr">Upload a Video</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Check in">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="show-for-sr">Check in</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Add a Feeling">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                                <span class="show-for-sr">Add a Feeling</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tag a Friend">
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <span class="show-for-sr">Tag a Friend</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-5 columns">
                    <div class="user-submit-box">
                        <input type="submit" class="button small" value="Envoyer">
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>



    <ul class="comments">
        <li>
            <span class='date'>5. September 2017, 15:30 </span>

            <div class='user'>
                <img src='img/048.png'>
                <span class="name">User123</span>
            </div>

            <span class='text'>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    </span>
        </li>

        <li>
            <span class='date'>5. September 2017, 15:18</span>

            <div class='user'>
                <img src='img/047.png'>
                <span class="name">User456</span>
            </div>

            <span class='text'>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </span>
        </li>

        <li>
            <span class='date'>6. September 2017, 18:25 </span>

            <div class='user'>
                <img src='img/048.png'>
                <span class="name">User789</span>
            </div>

            <span class='text'>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </span>
        </li>

    </ul>



</html>